/* ------------------------
  Grid Setting
------------------------ */

/* Max Column ------- */
$maxcolumn: 12;

/* Grid Gutter Size ------- */
$gutter: 28px;

/* ------------------------
  Margin of container outside
------------------------ */

/* Extra Large Display ------- */
$retina: 468px;

/* Full HD Display ------- */
$desktop: 146px;

/* 1440x800 ------- */
$laptoplarge: 146px;

/* 1366x768 ------- */
$laptop: 139px;

/* iPad Pro 12.9inch ------- */
$ipadpro129-port: 118px;
$ipadpro129-land: 121px;

/* iPad Pro 10.5inch ------- */
$ipadpro105-port: 84px;
$ipadpro105-land: 83px;

/* iPad / iPad mini & Android Tablet ------- */
$ipad-port: 82px;
$ipad-land: 80px;
