/* ------------------------
  _scss > _config > _adobexd.scss
------------------------ */

// Max Column
$maxcolumn: 12 !default;
$maxcolumn-tablet: 8 !default;
$maxcolumn-mobile: 4 !default;

// Grid Gutter Size
$gutter: 32px !default;
$gutter-tablet: 32px !default;
$gutter-mobile: 22px !default;

//  Extra Large Display(w5120)
$desktop-xl: 936px !default;

//  Large Display(w2560)
$desktop-lg: 468px !default;

// Full HD Display(w1920)
$desktop: 146px !default;

// w1440
$laptop-lg: 146px !default;

// w1366
$laptop-md: 139px !default;

// w1280
$laptop-sm: 139px !default;

// iPad Pro 12.9inch
$ipadpro129-portrait: 118px !default;
$ipadpro129-landscape: 139px !default;

// iPad Pro 11inch
$ipadpro11-portrait: 81px !default;
$ipadpro11-landscape: 80px !default;

// iPad Pro 10.5inch
$ipadpro105-portrait: 84px !default;
$ipadpro105-landscape: 83px !default;

// iPad / iPad mini & Android Tablet
$ipad-portrait: 82px !default;
$ipad-landscape: 80px !default;

// Surface Pro 4/5/6
$surfacepro-portrait: 122px !default;
$surfacepro-landscape: 140px !default;

// iPhone XR/XS Max/11
$mobile-lg: 36px !default;

// iPhone X/XS/11 Pro
$mobile-md: 32px !default;

// iPhone 5/SE
$mobile-sm: 31px !default;