/* ------------------------
  _scss > _config > _mixin.scss
------------------------ */
// media query
@mixin max($width) {
  @media only screen and (max-width: $width + px) {
    @content;
  }
}

@mixin and($minWidth,$maxWidth) {
  @media only screen and (min-width: $minWidth + px) and (max-width: $maxWidth + px) {
    @content;
  }
}

@mixin min($width) {
  @media only screen and (min-width: $width + px) {
    @content;
  }
}

@mixin tablet($width,$height) {
  @media only screen and (device-width: $width + px) and (device-height: $height + px) {
    @content;
  }
}

@mixin device($width,$height) {
  @media only screen and (device-width: $width + px) and (device-height: $height + px) {
    @content;
  }
}

// clearfix
@mixin clearfix {
  clear: both;
  content: "";
  display: block;
}

// position-center
@mixin position-center($top: 50%, $left: 50%, $translateX: -50%, $translateY: -50%) {
  left: $left;
  position: absolute;
  top: $top;
  transform: translate($translateX, $translateY);
  width: 100%;
}

// flexbox
@mixin flex($justify: flex-start, $align: flex-start, $direction: column ) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
