@import "./_config/config";

/* ------------------------
  SNUG Grid System
------------------------ */
%row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

%column {
  flex: 1;
  position: relative;

  @include max(839) {
    margin: 0 calc(#{map-get($gutter, tablet)} / 2);
  }

  @include max(767) {
    margin: 0 calc(#{map-get($gutter, mobile)} / 2);
  }
}

.sng-container {
  margin: 0 auto;
  max-width: map-deep-get($container, pc, w5120);
  padding: 0 calc(#{map-get($gutter, pc)} / 2);
  width: 100%;

  @include min(320) {
    max-width: map-deep-get($container, mobile, w320);
    padding: 0 calc(#{map-get($gutter, mobile)} / 2);
  }

  @include min(375) {
    max-width: map-deep-get($container, mobile, w375);
    padding: 0 calc(#{map-get($gutter, mobile)} / 2);
  }

  @include min(414) {
    max-width: map-deep-get($container, mobile, w414);
    padding: 0 calc(#{map-get($gutter, mobile)} / 2);
  }

  @include min(768) {
    max-width: map-deep-get($container, tablet, iPad, portlait);
    padding: 0 calc(#{map-get($gutter, tablet)} / 2);
  }

  @include min(840) {
    max-width: map-deep-get($container, tablet, iPad, landscape);
  }

  @include min(1280) {
    max-width: map-deep-get($container, pc, w1280);
  }

  // Macbook Air 11'
  @include min(1366) {
    max-width: map-deep-get($container, pc, w1366);
  }

  // Macbook Air 13' / MacBook Pro
  @include min(1440) {
    max-width: map-deep-get($container, pc, w1440);
  }

  // Desktop
  @include min(1600) {
    max-width: map-deep-get($container, pc, w1600);
  }

  @include min(1920) {
    max-width: map-deep-get($container, pc, w1920);
  }

  @include min(2560) {
    max-width: map-deep-get($container, pc, w2560);
  }

  @include tablet(1440, 960) {
    max-width: map-deep-get($container, tablet, surfacePro3, landscape);
  }

  @include tablet(1368,912) {
    max-width: map-deep-get($container, tablet, surfacePro6, landscape);
  }

  // iPad Pro 12.9' Landscape
  @include tablet(1366,1024) {
    max-width: map-deep-get($container, tablet, iPadPro129, landscape);
  }

  // iPad Pro 11' Landscape
  @include tablet(1194,834) {
    max-width: map-deep-get($container, tablet, iPadPro11, landscape);
  }

  // iPad Pro 10.5' Landscape
  @include tablet(1112,834) {
    max-width: map-deep-get($container, tablet, iPadPro105, landscape);
  }

  // iPad Pro 12.9' Portlait
  @include tablet(1024,1366) {
    max-width: map-deep-get($container, tablet, iPadPro129, portlait);
  }

  @include tablet(960, 1440) {
    max-width: map-deep-get($container, tablet, surfacePro3, portlait);
  }

  @include tablet(912, 1368) {
    max-width: map-deep-get($container, tablet, surfacePro6, portlait);
  }

  // iPad Pro 10.5' Portlait
  @include tablet(834,1112) {
    max-width: map-deep-get($container, tablet, iPadPro105, portlait);
    padding: 0 calc(#{map-get($gutter, tablet)} / 2);
  }

  // iPad Pro 11' Portlait
  @include tablet(834,1194) {
    max-width: map-deep-get($container, tablet, iPadPro11, portlait);
    padding: 0 calc(#{map-get($gutter, tablet)} / 2);
  }

  // iPad and Android Tablet Portlait
  @include tablet(768,1024) {
    max-width: map-deep-get($container, tablet, iPad, portlait);
    padding: 0 calc(#{map-get($gutter, tablet)} / 2);
  }

  &.-fluid {
    max-width: 100%;
    padding: 0;
  }
}

.sng-rows {
  @extend %row;

  margin-left: calc(#{map-get($gutter, pc)} / -2);
  margin-right: calc(#{map-get($gutter, pc)} / -2);

  @include max(839) {
    margin-left: calc(#{map-get($gutter, tablet)} / -2);
    margin-right: calc(#{map-get($gutter, tablet)} / -2);
  }

  @include max(767) {
    margin-left: calc(#{map-get($gutter, mobile)} / -2);
    margin-right: calc(#{map-get($gutter, mobile)} / -2);
  }

  &.-tile {
    margin: 0;
  }

  &.-center {
    justify-content: center;
  }

  &.-right {
    justify-content: flex-end;
  }
}

[class*="column-"] {
  @extend %column;
}

[class*="grid-"] {
  @extend %column;
}

[class*="offset-"] {
  @extend %column;
}

@for $i from 1 through map-get($column, pc) {
  .column-#{$i} {
    flex-basis: calc((100% / #{$i}) - #{map-get($gutter, pc)});
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 calc(#{map-get($gutter, pc)} / 2);
    max-width: calc((100% / #{$i}) - #{map-get($gutter, pc)});

    .-tile & {
      flex-basis: calc(100% / #{$i});
      margin: 0;
      max-width: calc(100% / #{$i});
    }
  }
}

[class*="column-"] {
  @include max(767) {
    flex-basis: calc(100% - #{map-get($gutter, pc)});
    max-width: calc(100% - #{map-get($gutter, pc)});
  }
}

@for $i from 1 through map-get($column, pc) {
  .grid-#{$i} {
    flex-basis: calc(100% / #{map-get($column, pc)} * #{$i} - #{map-get($gutter, pc)});
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 calc(#{map-get($gutter, pc)} / 2);
    max-width: calc(100% / #{map-get($column, pc)} * #{$i} - #{map-get($gutter, pc)});

    .-tile & {
      flex-basis: calc(100% / #{map-get($column, pc)} * #{$i});
      margin: 0;
      max-width: calc(100% / #{map-get($column, pc)} * #{$i});
    }

    @include max(839) {
      flex-basis: calc(100% - #{map-get($gutter, tablet)});
      margin: 0 calc(#{map-get($gutter, tablet)} / 2);
      max-width: calc(100% - #{map-get($gutter, tablet)});
    }

    @include max(767) {
      flex-basis: calc(100% - #{map-get($gutter, mobile)});
      margin: 0 calc(#{map-get($gutter, mobile)} / 2);
      max-width: calc(100% - #{map-get($gutter, mobile)});
    }
  }
}

[class*="col-md-"] {
  @include max(839) {
    flex-basis: calc(100% - #{map-get($gutter, tablet)});
    max-width: calc(100% - #{map-get($gutter, tablet)});
  }
}

[class*="grid-md-"] {
  @include max(839) {
    flex-basis: calc(100% - #{map-get($gutter, tablet)});
    margin: 0 calc(#{map-get($gutter, tablet)} / 2);
    max-width: calc(100% - #{map-get($gutter, tablet)});
  }
}

@for $i from 1 through map-get($column, tablet) {
  .col-md-#{$i} {
    @include max(839) {
      flex-basis: calc((100% / #{$i}) - #{map-get($gutter, tablet)});
      margin: 0 calc(#{map-get($gutter, tablet)} / 2);
      max-width: calc((100% / #{$i}) - #{map-get($gutter, tablet)});

      .-tile & {
        flex-basis: calc(100% / #{$i});
        margin: 0;
        max-width: calc(100% / #{$i});
      }
    }

    @include max(767) {
      flex-basis: calc(100% - #{map-get($gutter, mobile)});
      max-width: calc(100% - #{map-get($gutter, mobile)});
      margin: 0 calc(#{map-get($gutter, mobile)} / 2);
    }
  }
}

@for $i from 1 through map-get($column, tablet) {
  .grid-md-#{$i} {
    @include max(839) {
      flex-basis: calc(100% / #{map-get($column, tablet)} * #{$i} - #{map-get($gutter, tablet)});
      margin: 0 calc(#{map-get($gutter, tablet)} / 2);
      max-width: calc(100% / #{map-get($column, tablet)} * #{$i} - #{map-get($gutter, tablet)});

      .-tile & {
        flex-basis: calc(100% / #{map-get($column, tablet)} * #{$i});
        margin: 0;
        max-width: calc(100% / #{map-get($column, tablet)} * #{$i});
      }
    }

    @include max(767) {
      flex-basis: calc(100% - #{map-get($gutter, mobile)});
      max-width: calc(100% - #{map-get($gutter, mobile)});
      margin: 0 calc(#{map-get($gutter, mobile)} / 2);
    }
  }
}

[class*="col-sm-"] {
  @include max(767) {
    flex-basis: calc(100% - #{map-get($gutter, mobile)});
    max-width: calc(100% - #{map-get($gutter, mobile)});
    margin: 0 calc(#{map-get($gutter, mobile)} / 2);
  }
}

[class*="grid-sm-"] {
  @include max(767) {
    flex-basis: calc(100% - #{map-get($gutter, mobile)});
    max-width: calc(100% - #{map-get($gutter, mobile)});
    margin: 0 calc(#{map-get($gutter, mobile)} / 2);
  }
}

@for $i from 1 through map-get($column, mobile) {
  .col-sm-#{$i} {
    @include max(767) {
      flex-basis: calc(100% / #{$i} - #{map-get($gutter, mobile)});
      margin: 0 calc(#{map-get($gutter, mobile)} / 2);
      max-width: calc(100% / #{$i} - #{map-get($gutter, mobile)});

      .-tile & {
        flex-basis: calc(100% / #{$i});
        margin: 0;
        max-width: calc(100% / #{$i});
      }
    }
  }
}

@for $i from 1 through map-get($column, mobile) {
  .grid-sm-#{$i} {
    @include max(767) {
      flex-basis: calc(100% / #{map-get($column, mobile)} * #{$i} - #{map-get($gutter, mobile)});
      margin: 0 calc(#{map-get($gutter, mobile)} / 2);
      max-width: calc(100% / #{map-get($column, mobile)} * #{$i} - #{map-get($gutter, mobile)});

      .-tile & {
        flex-basis: calc(100% / #{map-get($column, mobile)} * #{$i});
        margin: 0;
        max-width: calc(100% / #{map-get($column, mobile)} * #{$i});
      }
    }
  }
}

@for $i from 1 through map-get($column, pc) {
  .offset-right-#{$i} {
    margin-right: calc(100% / #{map-get($column, pc)} * #{$i} + (#{map-get($gutter, pc)} / 2));
  }
}

[class*="offset-right-"] {
  @include max(839) {
    margin-right: calc(#{map-get($gutter, tablet)} / 2);
  }
}

@for $i from 1 through map-get($column, tablet) {
  .md-offset-right-#{$i} {
    @include max(839) {
      margin-left: calc(100% / #{map-get($column, tablet)} * #{$i} + (#{map-get($gutter, tablet)} / 2));
    }
  }
}

[class*="md-offset-right-"] {
  @include max(767) {
    margin-right: calc(#{map-get($gutter, mobile)} / 2);
  }
}

@for $i from 1 through map-get($column, mobile) {
  .sm-offset-right-#{$i} {
    @include max(767) {
      margin-left: calc(100% / #{map-get($column, mobile)} * #{$i} + (#{map-get($gutter, mobile)} / 2));
    }
  }
}

@for $i from 1 through map-get($column, pc) {
  .offset-left-#{$i} {
    margin-left: calc(100% / #{map-get($column, pc)} * #{$i} + (#{map-get($gutter, pc)} / 2));
  }
}

[class*="offset-left-"] {
  @include max(839) {
    margin-left: calc(#{map-get($gutter, tablet)} / 2);
  }
}

@for $i from 1 through map-get($column, tablet) {
  .md-offset-left-#{$i} {
    @include max(839) {
      margin-left: calc(100% / #{map-get($column, tablet)} * #{$i} + (#{map-get($gutter, tablet)} / 2));
    }
  }
}

[class*="md-offset-left-"] {
  @include max(767) {
    margin-left: calc(#{map-get($gutter, mobile)} / 2);
  }
}

@for $i from 1 through map-get($column, mobile) {
  .sm-offset-left-#{$i} {
    @include max(767) {
      margin-left: calc(100% / #{map-get($column, mobile)} * #{$i} + (#{map-get($gutter, mobile)} / 2));
    }
  }
}
