@import "./_config/config";

/* ------------------------
  SNUG Grid System
------------------------ */
%row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

%column {
  flex: 1;
  margin: 0 calc(#{$gutter} / 2);
  position: relative;

  @include max(839) {
    margin: 0 calc(#{$gutter-tablet} / 2);
  }

  @include max(767) {
    margin: 0 calc(#{$gutter-mobile} / 2);
  }
}

.sng-container {
  margin: 0 auto;
  max-width: calc(#{$container-desktop-xl} + #{$gutter});
  padding: 0 calc(#{$gutter} / 2);
  width: 100%;

  @include max(2560) {
    max-width: calc(#{$container-desktop-lg} + #{$gutter});
  }

  @include max(1920) {
    max-width: calc(#{$container-desktop} + #{$gutter});
  }

  // Macbook Air 13' / MacBook Pro
  @include max(1440) {
    max-width: calc(#{$container-laptop-lg} + #{$gutter});
  }

  @include tablet(1440, 960) {
    max-width: calc(#{$container-surfacepro3-landscape} + #{$gutter});
  }

  @include tablet(1368,912) {
    max-width: calc(#{$container-surfacepro6-landscape} + #{$gutter});
  }

  // Macbook Air 11'
  @include max(1366) {
    max-width: calc(#{$container-laptop-md} + #{$gutter});
  }

  @include max(1280) {
    max-width: calc(#{$container-laptop-sm} + #{$gutter});
  }

  // iPad Pro 12.9' Landscape
  @include tablet(1366,1024) {
    max-width: calc(#{$container-ipadpro129-landscape} + #{$gutter});
  }

  // iPad Pro 11' Landscape
  @include tablet(1194,834) {
    max-width: calc(#{$container-ipadpro11-landscape} + #{$gutter});
  }

  // iPad Pro 10.5' Landscape
  @include tablet(1112,834) {
    max-width: calc(#{$container-ipadpro105-landscape} + #{$gutter});
  }

  // iPad Pro 12.9' Portlait
  @include tablet(1024,1366) {
    max-width: calc(#{$container-ipadpro129-portrait} + #{$gutter});
  }

  // iPad and Android Tablet Landscape
  @include tablet(1024,768) {
    max-width: calc(#{$container-ipad-landscape} + #{$gutter});
  }

  @include tablet(960, 1440) {
    max-width: calc(#{$container-surfacepro3-portrait} + #{$gutter});
  }

  @include tablet(912, 1368) {
    max-width: calc(#{$container-surfacepro6-portrait} + #{$gutter});
  }

  // iPad Pro 10.5' Portlait
  @include tablet(834,1112) {
    max-width: calc(#{$container-ipadpro105-portrait} + #{$gutter-tablet});
  }

  // iPad Pro 11' Portlait
  @include tablet(834,1194) {
    max-width: calc(#{$container-ipadpro11-portrait} + #{$gutter-tablet});
  }

  // iPad and Android Tablet Portlait
  @include tablet(768,1024) {
    max-width: calc(#{$container-ipad-portrait} + #{$gutter-tablet});
  }

  // Smartphone
  @include max(767) {
    max-width: calc(#{$container-mobile} + #{$gutter-mobile});
  }

  &.-fluid {
    max-width: 100%;
    padding: 0;
  }
}

.sng-rows {
  @extend %row;

  margin-left: calc(#{$gutter} / -2);
  margin-right: calc(#{$gutter} / -2);

  @include max(839) {
    margin-left: calc(#{$gutter-tablet} / -2);
    margin-right: calc(#{$gutter-tablet} / -2);
  }

  @include max(767) {
    margin-left: calc(#{$gutter-mobile} / -2);
    margin-right: calc(#{$gutter-mobile} / -2);
  }

  &.-tile {
    margin: 0;
  }

  &.-center {
    justify-content: center;
  }

  &.-right {
    justify-content: flex-end;
  }
}

[class*="column-"] {
  @extend %column;
}

[class*="grid-"] {
  @extend %column;
}

[class*="offset-"] {
  @extend %column;
}

@for $i from 1 through $maxcolumn {
  .column-#{$i} {
    flex-basis: calc((100% / #{$i}) - #{$gutter});
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 calc(#{$gutter} / 2);
    max-width: calc((100% / #{$i}) - #{$gutter});

    .-tile & {
      flex-basis: calc(100% / #{$i});
      margin: 0;
      max-width: calc(100% / #{$i});
    }
  }
}

[class*="column-"] {
  @include max(767) {
    flex-basis: calc(100% - #{$gutter});
    max-width: calc(100% - #{$gutter});
  }
}

@for $i from 1 through $maxcolumn {
  .grid-#{$i} {
    flex-basis: calc((100% / (#{$maxcolumn} / #{$i})) - #{$gutter});
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 calc(#{$gutter} / 2);
    max-width: calc((100% / (#{$maxcolumn} / #{$i})) - #{$gutter});

    .-tile & {
      flex-basis: calc(100% / (#{$maxcolumn} / #{$i}));
      margin: 0;
      max-width: calc(100% / (#{$maxcolumn} / #{$i}));
    }

    @include max(839) {
      flex-basis: calc(100% - #{$gutter-tablet});
      max-width: calc(100% - #{$gutter-tablet});
    }

    @include max(767) {
      flex-basis: calc(100% - #{$gutter-mobile});
      max-width: calc(100% - #{$gutter-mobile});
    }
  }
}

[class*="col-md-"] {
  @include max(839) {
    flex-basis: calc(100% - #{$gutter-tablet});
    max-width: calc(100% - #{$gutter-tablet});
  }
}

[class*="grid-md-"] {
  @include max(839) {
    flex-basis: calc(100% - #{$gutter-tablet});
    max-width: calc(100% - #{$gutter-tablet});
  }
}

@for $i from 1 through $maxcolumn-tablet {
  .col-md-#{$i} {
    @include max(839) {
      flex-basis: calc((100% / #{$i}) - #{$gutter-tablet});
      margin: 0 calc(#{$gutter-tablet} / 2);
      max-width: calc((100% / #{$i}) - #{$gutter-tablet});

      .-tile & {
        flex-basis: calc(100% / #{$i});
        margin: 0;
        max-width: calc(100% / #{$i});
      }
    }

    @include max(767) {
      flex-basis: calc(100% - #{$gutter-mobile});
      max-width: calc(100% - #{$gutter-mobile});
    }
  }
}

@for $i from 1 through $maxcolumn-tablet {
  .grid-md-#{$i} {
    @include max(839) {
      flex-basis: calc((100% / (#{$maxcolumn-tablet} / #{$i})) - #{$gutter-tablet});
      margin: 0 calc(#{$gutter-tablet} / 2);
      max-width: calc((100% / (#{$maxcolumn-tablet} / #{$i})) - #{$gutter-tablet});

      .-tile & {
        flex-basis: calc(100% / (#{$maxcolumn-tablet} / #{$i}));
        margin: 0;
        max-width: calc(100% / (#{$maxcolumn-tablet} / #{$i}));
      }
    }
  }
}

[class*="col-sm-"] {
  @include max(767) {
    flex-basis: calc(100% - #{$gutter-mobile});
    max-width: calc(100% - #{$gutter-mobile});
  }
}

[class*="grid-sm-"] {
  @include max(767) {
    flex-basis: calc(100% - #{$gutter-mobile});
    max-width: calc(100% - #{$gutter-mobile});
  }
}

@for $i from 1 through $maxcolumn-mobile {
  .col-sm-#{$i} {
    @include max(767) {
      flex-basis: calc((100% / #{$i}) - #{$gutter-mobile});
      margin: 0 calc(#{$gutter-mobile} / 2);
      max-width: calc((100% / #{$i}) - #{$gutter-mobile});

      .-tile & {
        flex-basis: calc(100% / #{$i});
        margin: 0;
        max-width: calc(100% / #{$i});
      }
    }
  }
}

@for $i from 1 through $maxcolumn-mobile {
  .grid-sm-#{$i} {
    @include max(767) {
      flex-basis: calc((100% / (#{$maxcolumn-mobile} / #{$i})) - #{$gutter-mobile});
      margin: 0 calc(#{$gutter-mobile} / 2);
      max-width: calc((100% / (#{$maxcolumn-mobile} / #{$i})) - #{$gutter-mobile});

      .-tile & {
        flex-basis: calc(100% / (#{$maxcolumn-mobile} / #{$i}));
        margin: 0;
        max-width: calc(100% / (#{$maxcolumn-mobile} / #{$i}));
      }
    }
  }
}

@for $i from 1 through $maxcolumn {
  .offset-right-#{$i} {
    margin-right: calc(100% / (#{$maxcolumn} / #{$i}) + (#{$gutter} / 2));
  }
}

[class*="offset-right-"] {
  @include max(839) {
    margin-right: calc(#{$gutter-tablet} / 2);
  }
}

@for $i from 1 through $maxcolumn-tablet {
  .md-offset-right-#{$i} {
    margin-left: calc(100% / (#{$maxcolumn-tablet} / #{$i}) + (#{$gutter-tablet} / 2));
  }
}

[class*="md-offset-right-"] {
  @include max(767) {
    margin-right: calc(#{$gutter-mobile} / 2);
  }
}

@for $i from 1 through $maxcolumn-mobile {
  .sm-offset-right-#{$i} {
    margin-left: calc(100% / (#{$maxcolumn-mobile} / #{$i}) + (#{$gutter-mobile} / 2));
  }
}

@for $i from 1 through $maxcolumn {
  .offset-left-#{$i} {
    margin-left: calc(100% / (#{$maxcolumn} / #{$i}) + (#{$gutter} / 2));
  }
}

[class*="offset-left-"] {
  @include max(839) {
    margin-left: calc(#{$gutter-tablet} / 2);
  }
}

@for $i from 1 through $maxcolumn-tablet {
  .md-offset-left-#{$i} {
    margin-left: calc(100% / (#{$maxcolumn-tablet} / #{$i}) + (#{$gutter-tablet} / 2));
  }
}

[class*="md-offset-left-"] {
  @include max(767) {
    margin-left: calc(#{$gutter-mobile} / 2);
  }
}

@for $i from 1 through $maxcolumn-mobile {
  .sm-offset-left-#{$i} {
    margin-left: calc(100% / (#{$maxcolumn-mobile} / #{$i}) + (#{$gutter-mobile} / 2));
  }
}
