@charset "UTF-8";

/* ======================================================

- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

-> src/_scss/_components/ -> _button.scss

- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

====================================================== */
$theme-color: #2dc0a6;
$button-color: #fff;
$button-color-hover: #2dc0a6;
$button-fillcolor: #2dc0a6;
$button-bordercolor: #2dc0a6;
$button-round: 6px;

.button {
  background: $theme-color;
  border: solid 1px $theme-color;
  color: $button-color;
  display: inline-block;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  padding: 1.2rem 1.5rem;
  text-align: center;
  transition: all .2s linear;

  &:hover {
    background: transparent;
    color: $theme-color;
  }
}

.button-large {
  @extend .button;

  font-size: 1.3rem;
  padding: 1.6rem 3rem;
}

.button-primary {
  @extend .button;

  border-radius: $button-round;
}

.button-primary-large {
  @extend .button-large;

  border-radius: $button-round;
}

.button-ghost {
  @extend .button;

  background: transparent;
  color: $theme-color;

  &:hover {
    background: $theme-color;
    color: $button-color;
  }
}

.button-round {
  @extend .button;

  border-radius: 35px;
  padding: 1.2rem 2rem;
}

.button-round-large {
  @extend .button-round;

  font-size: 1.3rem;
  padding: 1.6rem 3rem;
}
