@charset "UTF-8";

/* ===== @class ===== */
.l-full {
  width: 100%;
}

.l-container {
  margin: 0 auto;
  max-width: calc(#{$container-desktop-large} + #{$gutter});
  padding: 0 calc(#{$gutter} / 2);

  @include max(1920) {
    max-width: calc(#{$container-desktop} + #{$gutter});
  }

  // Macbook Air 13' / MacBook Pro / Surface Pro
  @include max(1440) {
    max-width: calc(#{$container-laptop-large} + #{$gutter});
  }

  // Macbook Air 11'
  @include max(1366) {
    max-width: calc(#{$container-laptop} + #{$gutter});
  }

  // iPad Pro 12.9' Landscape
  @include tablet(1366,1024) {
    max-width: calc(#{$container-ipadpro129-land} + #{$gutter});
  }

  // iPad Pro 10.5' Landscape
  @include tablet(1112,834) {
    max-width: calc(#{$container-ipadpro105-land} + #{$gutter});
  }

  // iPad Pro 12.9' Portlait
  @include tablet(1024,1366) {
    max-width: calc(#{$container-ipadpro129-port} + #{$gutter});
  }

  // iPad and Android Tablet Landscape
  @include tablet(1024,768) {
    max-width: calc(#{$container-ipad-land} + #{$gutter});
  }

  // iPad Pro 10.5' Portlait
  @include tablet(834,1112) {
    max-width: calc(#{$container-ipadpro105-port} + #{$gutter});
  }

  // iPad and Android Tablet Portlait
  @include tablet(768,1024) {
    max-width: calc(#{$container-ipad-port} + #{$gutter});
  }

  // Smartphone
  @include max(767) {
    max-width: calc(100%);
  }
}

.l-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: calc(#{$gutter} / -2);
  margin-right: calc(#{$gutter} / -2);
}

.l-laid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .l-container & {
    @include max(767) {
      margin-left: calc(#{$gutter} / -2);
      margin-right: calc(#{$gutter} / -2);
    }
  }
}

[class*="grid-"] {
  position: relative;
}

@for $i from 1 through $maxcolumn {
  .l-grid-#{$i} {
    flex: 0 0 calc((100% / ( #{$maxcolumn} / #{$i})) - #{$gutter});
    margin: 0 calc(#{$gutter} / 2);
    max-width: calc((100% / ( #{$maxcolumn} / #{$i})) - #{$gutter});
  }
}

.l-grid-auto {
  flex: 1;
  margin: 0 calc(#{$gutter} / 2);
}

@for $i from 1 through $maxcolumn {
  .l-tilegrid-#{$i} {
    flex: 0 0 calc((100% / ( #{$maxcolumn} / #{$i})));
    max-width: calc((100% / ( #{$maxcolumn} / #{$i})));
  }
}

.l-tilegrid-auto {
  flex: 1;
}

@for $i from 1 through $maxcolumn {
  .l-offset-left-#{$i} {
    margin-left: calc((100% / ( #{$maxcolumn} / #{$i})) + (#{$gutter} / 2));
  }
}

@for $i from 1 through $maxcolumn {
  .l-offset-right-#{$i} {
    margin-right: calc((100% / ( #{$maxcolumn} / #{$i})) + (#{$gutter} / 2));
  }
}

[class*="l-offset-left-"] {
  @include max(767) {
    margin-left: calc(#{$gutter} / 2);
  }
}

[class*="l-offset-right-"] {
  @include max(767) {
    margin-right: calc(#{$gutter} / 2);
  }
}

[class*="l-grid-"] {
  @include max(767) {
    flex: 1 0 calc(100% / ( #{$maxcolumn} / #{$maxcolumn} ) - #{$gutter});
    margin-left: calc(#{$gutter} / 2);
    margin-right: calc(#{$gutter} / 2);
    max-width: calc(100% / ( #{$maxcolumn} / #{$maxcolumn} ) - #{$gutter});
  }
}

[class*="l-tilegrid-"] {
  @include max(767) {
    flex: 0 0 calc((100% / ( #{$maxcolumn} / #{$maxcolumn})));
    max-width: 0 0 calc((100% / ( #{$maxcolumn} / #{$maxcolumn})));
  }
}

/* ===== @mixin ===== */
@mixin l-full {
  width: 100%;
}

@mixin l-container {
  margin: 0 auto;
  max-width: calc(#{$container-desktop} + #{$gutter});
  padding: 0 calc(#{$gutter} / 2);

  @include max(1440) {
    max-width: calc(#{$container-laptop-large} + #{$gutter});
  }

  @include max(1366) {
    max-width: calc(#{$container-laptop} + #{$gutter});
  }

  @include tablet(1366,1024) {
    max-width: calc(#{$container-ipadpro129-land} + #{$gutter});
  }

  @include tablet(1024,1366) {
    max-width: calc(#{$container-ipadpro129-port} + #{$gutter});
  }

  @include tablet(1112,834) {
    max-width: calc(#{$container-ipadpro105-land} + #{$gutter});
  }

  @include tablet(834,1112) {
    max-width: calc(#{$container-ipadpro105-port} + #{$gutter});
  }

  @include tablet(1024,768) {
    max-width: calc(#{$container-ipad-land} + #{$gutter});
  }

  @include tablet(768,1024) {
    max-width: calc(#{$container-ipad-port} + #{$gutter});
  }

  @include max(767) {
    max-width: calc(100% - #{$gutter} / 2);
  }
}

@mixin l-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: calc(#{$gutter} / -2);
  margin-right: calc(#{$gutter} / -2);
}

@mixin l-laid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  @include max(767) {
    margin-left: calc(#{$gutter} / -2);
    margin-right: calc(#{$gutter} / -2);
  }
}

@mixin grid-style {
  margin: 0 calc(#{$gutter} / 2);
  position: relative;
}

@mixin l-offset($offset-left:0,$offset-right:0) {
  margin-left: calc(( 100% / ( #{$maxcolumn} / #{$offset-left})) + (#{$gutter} / 2));
  margin-right: calc(( 100% / ( #{$maxcolumn} / #{$offset-right})) + (#{$gutter} / 2));

  @if $offset-left == 0 {
    margin-left: calc(#{$gutter} / 2);
  }

  @if $offset-left !=0 {
    margin-left: calc(( 100% / ( #{$maxcolumn} / #{$offset-left})) + (#{$gutter} / 2));

    @include max(767) {
      margin-left: calc(#{$gutter} / 2);
    }
  }

  @if $offset-right == 0 {
    margin-right: calc(#{$gutter} / 2);
  }

  @if $offset-right !=0 {
    margin-right: calc(( 100% / ( #{$maxcolumn} / #{$offset-right})) + (#{$gutter} / 2));

    @include max(767) {
      margin-right: calc(#{$gutter} / 2);
    }
  }
}

@mixin l-offset-left($offset-left:0) {
  @if $offset-left == 0 {
    margin-right: calc(#{$gutter} / 2);
  }

  @if $offset-left !=0 {
    margin-left: calc(( 100% / ( #{$maxcolumn} / #{$offset-left})) + (#{$gutter} / 2));

    @include max(767) {
      margin-left: calc(#{$gutter} / 2);
    }
  }
}

@mixin l-offset-right($offset-right:0) {
  @if $offset-right == 0 {
    margin-right: calc(#{$gutter} / 2);
  }

  @if $offset-right !=0 {
    margin-right: calc(( 100% / ( #{$maxcolumn} / #{$offset-right})) + (#{$gutter} / 2));

    @include max(767) {
      margin-right: calc(#{$gutter} / 2);
    }
  }
}

@mixin l-grid($grid:0) {
  @if $grid == 0 {
    flex: 1;
  }

  @if $grid !=0 {
    flex: 0 0 calc((100% / (#{$maxcolumn} / #{$grid})) - #{$gutter});
    max-width: calc((100% / (#{$maxcolumn} / #{$grid})) - #{$gutter});
  }

  margin: 0 calc(#{$gutter} / 2);
  position: relative;
}

@mixin l-column($column:0) {
  @if $column == 0 {
    flex: 1;
  }

  @if $column !=0 {
    flex: 0 0 calc((100% / #{$column}) - #{$gutter});
    max-width: calc((100% / #{$column}) - #{$gutter});
  }

  margin: 0 calc(#{$gutter} / 2);
  position: relative;
}

@mixin l-tilegrid($tilegrid:0) {
  @if $tilegrid == 0 {
    flex: 1;
  }

  @if $tilegrid !=0 {
    flex: 0 0 calc(100% / (#{$maxcolumn} / #{$tilegrid}));
    max-width: calc(100% / (#{$maxcolumn} / #{$tilegrid}));
  }

  position: relative;
}

@mixin l-tilecolumn($tilecolumn:0) {
  @if $tilecolumn == 0 {
    flex: 1;
  }

  @if $tilecolumn !=0 {
    flex: 0 0 calc(100% / #{$tilecolumn});
    max-width: calc(100% / #{$tilecolumn});
  }

  position: relative;
}
