@charset "UTF-8";

/* ======================================================

- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

-> sass -> __components -> _hero.scss

- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

====================================================== */
.hero {
  position: relative;
  width: 100%;
}

.hero-image {
  background-image: url(../images/sample.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  padding-top: 38%;
  position: relative;
  width: 100%;
}

.hero-title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: .5rem;
  text-align: center;

  @include position-center;
}
