@charset "UTF-8";

/* ======================================================

- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

-> src/_scss/_components/ -> _text.scss

- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

====================================================== */
// Text Variable Style
$text-color: #444;
$text-line-height: 1.5;

.text-header {
  color: $text-color;
  font-size: 32px;
  line-height: $text-line-height;
}

.text-lead {
  color: $text-color;
  font-size: 16px;
  line-height: $text-line-height;
}

.text-notes {
  color: $text-color;
  font-size: 11px;
  line-height: $text-line-height;
}
