footer.footer
  .l-container
    .l-row
      .l-grid-3
        ul.footer-menu
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 1
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 2
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 3
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 4
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 5

      .l-grid-3
        ul.footer-menu
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 6
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 7
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 8

      .l-grid-3
        ul.footer-menu
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 9
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 10
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 11

      .l-grid-3
        ul.footer-menu
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 12
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 13
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 14

        ul.footer-menu
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 15
          li.footer-menu-list: a.footer-menu-link(href="#") MENU 16
section.copyright-wrapper
  h4.copyright-txt &copy; YOUR SITE NAME