//- ナビゲーションの管理
-
  var arr = [
    {
      href: '/menu1',
      target: '',
      txt: 'menu1',
    },
    {
      href: '/menu2',
      target: '',
      txt: 'menu2',
    },
    {
      href: '/menu3',
      target: '',
      txt: 'menu3',
    },
    {
      href: '/menu4',
      target: '',
      txt: 'menu4',
    },
    {
      href: '/menu5',
      target: '',
      txt: 'menu5',
    }
  ]

nav.gnav
  ul.gnav-list
    each link in arr
      li.gnav-list-item
        a.gnav-list-link(href= link.href target= link.target) #{link.txt}