block ogUrl
  meta(property="og:url" content="ページのURL")
block ogType
  meta(property="og:type" content="ページの種類")
block ogTitle
  meta(property="og:title" content=pageName)
block ogDescription
  meta(property="og:description" content="ページのディスクリプション")
block ogSiteName
  meta(property="og:site_name" content="サイト名")
block ogImage
  meta(property="og:image" content="サムネイル画像の URL")