<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>YOUR PROJECT</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body ontouchstart="">
<!-- Write Your Content -->

<div class="l-container">
  <div class="l-row">
    <div class="l-grid-1">
      <p class="text">
        One
      </p>
    </div>
    <div class="l-grid-11">
      <p class="text">
        Eleven
      </p>
    </div>
    <div class="l-grid-2">
      <p class="text">
        Two
      </p>
    </div>
    <div class="l-grid-10">
      <p class="text">
        Ten
      </p>
    </div>
    <div class="l-grid-3">
      <p class="text">
        Three
      </p>
    </div>
    <div class="l-grid-9">
      <p class="text">
        Nine
      </p>
    </div>
    <div class="l-grid-4">
      <p class="text">
        Four
      </p>
    </div>
    <div class="l-grid-8">
      <p class="text">
        Eight
      </p>
    </div>
    <div class="l-grid-5">
      <p class="text">
        Five
      </p>
    </div>
    <div class="l-grid-7">
      <p class="text">
        Seven
      </p>
    </div>
    <div class="l-grid-6">
      <p class="text">
        Six
      </p>
    </div>
    <div class="l-grid-6">
      <p class="text">
        Six
      </p>
    </div>
    <div class="l-grid-7">
      <p class="text">
        Seven
      </p>
    </div>
    <div class="l-grid-5">
      <p class="text">
        Five
      </p>
    </div>
    <div class="l-grid-8">
      <p class="text">
        Eight
      </p>
    </div>
    <div class="l-grid-4">
      <p class="text">
        Four
      </p>
    </div>
    <div class="l-grid-9">
      <p class="text">
        Nine
      </p>
    </div>
    <div class="l-grid-3">
      <p class="text">
        Three
      </p>
    </div>
    <div class="l-grid-10">
      <p class="text">
        Ten
      </p>
    </div>
    <div class="l-grid-2">
      <p class="text">
        Two
      </p>
    </div>
    <div class="l-grid-11">
      <p class="text">
        Eleven
      </p>
    </div>
    <div class="l-grid-1">
      <p class="text">
        One
      </p>
    </div>
  </div>
</div>

<div class="l-container">
  <p>
    <a href="#" class="button">READ MORE</a><br>
    <span class="notes">.button</span>
  </p>
  <p>
    <a href="#" class="button-large">READ MORE</a>
    <span class="notes">.button-large</span>
  </p>
  <p>
    <a href="#" class="button-primary">READ MORE</a>
    <span class="notes">.button-primary</span>
  </p>
  <p>
    <a href="#" class="button-primary-large">READ MORE</a>
    <span class="notes">.button-primary-large</span>
  </p>
  <p>
    <a href="#" class="button-primary u-fullwidth">READ MORE</a>
    <span class="notes">.button-primary.u-fullwidth</span>
  </p>
</div>


</body>
</html>